<h1><%= @group.name %><h1>

<h2><%= @group.description %><h2>

<div>
	<%= pluralize(@group.group_likes.count, "Like") %> <!-- PLURALIZE KNOWS WHEN TO DISPLAY LIKE INSTEAD OF LIKES -->
	<% if current_user.likes_group?(@group) %>
	  <%= link_to "Unlike", unlike_group_path(@group), method: :delete %>
	<% else %>
	  <%= link_to "Like", like_group_path(@group), method: :post %>
	<% end %>
</div>	

<nav>
  <ul>
<li><%= link_to "Join", join_group_path(@group), method: :post %></li> <!-- WE DEFINED THIS IN THE ROUTES -->
<li><%= link_to "Leave Group", leave_group_path(@group), method: :delete, data: { confirm: "Are you sure?" } %>
  </ul>	
</nav>

<ul>
  <% @group.users.each do |user| %>
    <li><%= link_to user.email, user %></li>
  <% end %>
</ul>