<h1><%= @gallery.name %><h1>

<h2><%= @gallery.description %><h2>

<div>
	<%= pluralize(@gallery.gallery_likes.count, "Like") %> <!-- PLURALIZE KNOWS WHEN TO DISPLAY LIKE INSTEAD OF LIKES -->
	<% if current_user.likes_gallery?(@gallery) %>
	  <%= link_to "Unlike", unlike_gallery_path(@gallery), method: :delete %>
	<% else %>
	  <%= link_to "Like", like_gallery_path(@gallery), method: :post %>
	<% end %>
</div>	

<% @gallery.images.each do |image| %>
	<%= link_to image_tag(image.url), [@gallery, image] %>
<% end %>


<div>	
<%= link_to "Add Image", new_gallery_image_path(@gallery) %>

<%= link_to "Destroy", @gallery, method: :delete, data: { confirm: "Are you sure?" } %>

<%= link_to "Edit Gallery", edit_gallery_path(@gallery) %>
</div>


